header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#AB0520), to(#0C234B));
  background-image: linear-gradient(to bottom, #AB0520, #0C234B);
  color: #E2E9E9;
  padding: 3em;
}

.name-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.name-box {
  border: solid 5px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

* {
  padding: 0;
  margin: 0;
  font-size: 25px;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.75em;
}

h3 {
  font-size: 0.4em;
}

p {
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: #E2E9E9;
  padding: 5px;
}

button {
  background: #0C234B;
  color: #fff;
  padding: 0.5em;
  border: none;
}

button:hover {
  background: #AB0520;
}

footer {
  background-color: #AB0520;
  color: #E2E9E9;
  padding: 1em;
}

.slider {
  margin-top: 3.6em;
  margin-bottom: 3.6em;
}

.about-section {
  background-color: #E2E9E9;
}

.projects-section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: #0C234B;
  color: #E2E9E9;
}

.projects-section img {
  margin-top: 1em;
  width: 100%;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #AB0520;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.card-info p {
  font-size: 0.75em;
}

.contact {
  padding-top: 2em;
}

.contact h1 {
  color: #0C234B;
}

.contact-form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

form input {
  border: none;
  border-bottom: solid #AB0520;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.9em;
  font-size: 0.9em;
}

form input:focus-visible {
  border: none;
}

form textarea {
  border: solid #AB0520;
  padding: 0.5em;
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 0.9em;
}

.project-long-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #AB0520;
  padding: 0;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-long-card img {
  width: 25%;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0;
}

.project-details h2 {
  font-size: 1em;
}

.project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */